Source: python-django-updown
Section: python
Priority: optional
Maintainer: Pascal Hartig <phartig@weluse.de>
Build-Depends: debhelper (>= 7.0.50~), python-setuptools
Build-Depends-Indep: python-support
Standards-Version: 3.9.1
Homepage: https://github.com/weluse/django-updown
Vcs-Git: https://github.com/weluse/django-updown.git

Package: python-django-updown
Section: python
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-django (>= 1.2)
Description: Simple youtube-like up and down rating app for Django.
 django-updown is a simple Django application for adding youtube like up and
 down voting.
